:root {
    --bg: #2e2e2e;
    --color: #cfcfcf;
    --highlight: rgba(255, 0, 255, 0.603);
    --active-color: var(--highlight);
    --tile-outline: #ffffff71;
    --tile-outline-hover: #000000d0;
    --disc-outline: var(--tile-outline);
    --font-size: 14px;
    --icon-size: 16px;
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* these HAVE to correspond to the files in the TEXTURE map */
    --grass: url('img/textures/green-grass-512x512.png');
    --grass-dry: url('img/textures/deep-grass-512x512.png');
    --water: url('img/textures/rough-sea-512x512.png');
    --mud: url('img/textures/muddy-terrain-512x512.png');
}

.fa {
    font-size: var(--icon-size);
}

html {
    box-sizing: border-box;
    font-size: var(--font-size);
    width: 100vw;
    height: 100vh;
}
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    background: var(--bg);
    color: var(--color);
    margin: 0;
    user-select: none;
}
body, select, input, button {
    font-size: .75rem;
    font-family: var(--font-family);
}

select, input, button {
    border: 1px solid var(--bg);
    border-radius: 2px;
    padding: 2px 4px;
}

body, #game-root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#game-root {
    position: absolute;
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .dialog-underlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000c4;
        z-index: 1;
    }
    .dialog-content {
        overflow: auto;
        z-index: 2;
        background: var(--bg);
        color: var(--color);
        padding: 8px 16px;
        border: 1px solid var(--color);
    }
}

.form-editor {
    .form-actions-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

#gm-options {
    --padding: 4px;
    position: fixed;
    z-index: 1;
    bottom: var(--padding);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: var(--padding);
    .gm-options-section {
        display: flex;
        align-items: center;
        gap: 0 var(--padding);
        &:last-child {
            border-right: 0;
        }
    }
    .gm-option-tool {
        position: relative;
        padding: calc(var(--padding) * 2);
        border: 2px solid var(--color);
        background-color: var(--bg);
        border-radius: 4px;
        overflow: hidden;
        &.active {
            border-color: var(--active-color);
            color: var(--active-color);
            /* background: var(--color); */
        }
        &.active::before {
            color: var(--active-color);
            background-color: var(--active-color);
        }
        &:hover {
            cursor: pointer;
            filter: brightness(2);
        }
        .fa {
            font-size: 20px;
        }
        &[data-hot-key]::before {
            position: absolute;
            z-index: 1;
            content: attr(data-hot-key);
            right: 0;
            top: 0;
            background: var(--color);
            color: var(--bg);
            font-size: 9px;
            line-height: 9px;
            padding: 0 1px;
            border-bottom-left-radius: 25%;
        }
    }
}

.gm-option-tool-dialog {
    position: relative;
    background: var(--bg);
    border: 2px solid var(--color);
    padding: var(--padding);
}

.gm-option-tool-texture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--o-diameter);
    height: var(--o-diameter);
    border-radius: 50%;
    overflow: hidden;

    .gm-option-tool-texture-box {
        position: absolute;
        border: 1px solid var(--color);
        background-size: 256px 256px;
        select {
            width: 100%;
            height: 100%;
            background: none;
        }
    }
    .gm-option-tool-picker {
        position: absolute;
        right: 16%;
        bottom: 16%;
        cursor: pointer;
        &.active {
            color: var(--active-color);
        }
    }
}
.gm-option-tool-elevation {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}
.elevation-level::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 4px solid orange;
    border-radius: 50%;
}
.active-tool-elevation .tile {
    &:hover {
        background-color: var(--highlight);
        .face {
            opacity: 0.75;
            background-color: var(--highlight);
        }
        .face {
            background-image: none;
        }
    }
    .face {
        
    }
    .face-t[data-steps]:before {
        content: attr(data-steps);
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: calc(1rem / var(--active-zoom, 1));
        color: var(--color);
        text-shadow: 
            2px 2px 0 var(--bg),
            -2px -2px 0 var(--bg),
            2px -2px 0 var(--bg),
            -2px 2px 0 var(--bg);
    }
}


#gm-client {
    perspective: var(--perspective);
    perspective-origin: center center;
    transform-style: preserve-3d;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.1s linear;
}

.rectangular-prism {
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: left top;

    &.hovering {
        .face-t {
            filter: brightness(1.5) !important;
        }
    }
}
.face {
    position: absolute;
    transform-origin: left top;
    border: 1px solid var(--tile-outline);
    pointer-events: none;
}
.face-t:only-child {
    filter: brightness(0.9);
}

.hide-entities .entity {
    display: none;
}
.entity {
    position: absolute;
    transform-style: preserve-3d;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;

    .entity-disc {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.411);
        border: 2px solid var(--player-color, var(--disc-outline));
        transform-style: preserve-3d;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        .entity-rod {
            &.hide {
                display: none;
            }
        }
        .entity-rod .face {
            position: absolute;
        }
    }

    .entity-floater {
        filter: brightness(1);
        background: var(--disc);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid var(--player-color, var(--disc-outline));
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: all 125ms ease;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        &:hover {
            background-size: 125%;
        }
    }

    &.hostile {
        .entity-floater {
            &::before {
                content: "";
                position: absolute;
                inset: -4px;
                outline: 4px solid red;
                border-radius: 50%;
            }
        }
        &.active .entity-floater::before {
            outline-style: dashed;
            animation: spin 30s linear infinite;       
        }
    }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.texture {
    background-position: var(--texture-x) var(--texture-y);
    background-size: 256px 256px;
    pointer-events: none;

    &.grass { background-image: var(--grass); }
    &.grass-dry { background-image: var(--grass-dry); }
    &.mud { background-image: var(--mud); }
    &.water { background-image: var(--water); }
}